// color palette - these colors will be the color swatches of the Colors section

$color-1: #79D7B5; // Medium Aquamarine
$color-2: #EF6F6C; // Light Coral
$color-3: #320E3B; // Russian Violet
$color-4: #E3DFFF; // Lavander Web
$color-5: #FFFBBD; // Cream

// additional colors

$success: $color-1; //Medium Aquamarine
$alert: $color-3; // Russian Violet
