

header {
    background-color:#79D7B5;
  }
  
  .cd-logo {
    /* logo box style */
    background-color: #E3DFFF;
    width: 120px;

  }
  
  .cd-main-nav {
    /* main navigation background color - full screen on small devices */
    background: #E3DFFF;
  
    li a {
      color: #6250d6;
      border-color: lighten(#E3DFFF, 5%);
    }
  
  }
  
  .cd-nav-trigger span {
    /* hamburger menu */
    background-color: #E3DFFF;
  
    &::before,
    &::after {
      /* upper and lower lines */
      background-color: #E3DFFF;
    }
  }
  
  .nav-is-visible .cd-nav-trigger span {
    /* hide line in the center on mobile when nav is visible */
    background-color: rgba(#E3DFFF, 0);
  
    &::before,
    &::after {
      /* preserve visibility of upper and lower lines - close icon */
      background-color: rgba(#E3DFFF, 1);
    }
  }
  
  .cd-download {
    /* download button top-right visible on big devices */
    background-color: lighten(#E3DFFF, 10%);
  
    .no-touch &:hover {
      background-color: lighten(#E3DFFF, 15%);
    }
  
    span {
      /* tooltip */
      background: #E3DFFF;
      color: #E3DFFF;
  
      &::before {
        /* right arrow color */
        border-color: #E3DFFF;
      }
    }
  }
  

  .sidebar li {
    list-style:none;
    padding:6px 0 10px 0;
    
    }
    
    .sidebar li a {
    padding-left:7px;
    
    text-decoration:none;
    }
    
    .sidebar li a:hover {
    text-decoration:underline;
    }

    .design-selection li a {
      display:block;
      font-weight:bold;
      background-position:0 0.6em;
      }

          
    .design-selection a.designer-name {
      display:inline;
      color:#666666;
      padding:0;
      background:none;
      background-color:#ffffff;
      }
      
      footer a{
      text-decoration:none;
      color:#888888;
      background-color:#dfdfdf;
      border:1px solid #bdbdbd;
      padding:3px 3px;
      height:100%;
      }
      
      footer a:hover{
      background-color:#ebebeb;
      color:#777777;
      }
      
      .extra1, .extra2, .extra3, .extra4, .extra5, .extra6{display:none;}
